.fund-don-animals-content {
  // margin: 16px;
  // margin-bottom: 64px;
  padding-bottom: 64px;
  .infinite-scroll-component {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .fund-fundacion {
    height: 105px;
    width: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 12px;
    position: relative;
    .fund-logo-foto {
      border-radius: 100px;
      width: 100px;
      height: 100px;
      min-height: 80px;
    }
    .especie-icons {
      height: 20px;
      width: 20px;
    }
    .fund-data-animal {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 12px;
    }
    //texto creadas para las card de fundaciones
    .fund-txt-dato {
      font-size: 12px !important;
      font-weight: normal;
      padding-bottom: 5px;
      margin-left: 5px;
      color: black;
    }
    .fund-txt-datofun {
      font-size: 12px !important;
      font-weight: normal;
      padding-bottom: 5px;
      color: black;
    }
    .fund-txt-12-green {
      font-size: 16px !important;
      color: #028596;
      font-weight: bold;
      margin-left: 5px;
    }
    .fund-animal-descripcion {
      margin: 0px 12px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 89px;
    }
    .fund-animal-icons {
      display: flex;
      i {
        color: var(--primary-color) !important;
      }
    }
    .animal-row {
      display: flex;
      flex-direction: row;
    }
    .animal-column {
      display: flex;
      flex-direction: column;
    }
    .fun-leopet {
      //display: flex;
      position: absolute;
      top: 135px;
      bottom: 0px;
      left: 125px;
      right: 0px;
    }
    .img-huella {
      border-radius: 100px;
      width: 30px;
      height: 30px;
    }
  }
  .fund-info-manada {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media (min-width: 400px) {
  .fund-don-animals-content {
    .fund-animal {
      height: 172px;
      .fund-animal-foto {
        border-radius: 16px;
        //width: 210px;
        width: 150px;
        height: 140px;
        min-height: 140px;
        margin-left: 0px;
        margin-top: 12px;
      }
      .fund-animal-descripcion {
        width: calc(100% - 16px);
        max-width: calc(100% - 16px);
      }
    }
  }
}
