.fund-don-user-content {
  margin: 16px;
  flex-direction: column;
  display: flex;
  .fund-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .fund-flx-column {
    margin-left: 10%;
    margin-block-start: 3%;
  }

  .fund-btn-pago,
  .fund-btn-guardar {
    width: 200px;
    margin-left: 0px;
    margin-top: 20px;
    background-color: var(--primary-color) !important;
    color: white;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .fund-credit-data {
    justify-content: space-between;
    div {
      width: 48%;
    }
  }
}
.form-registro {
  height: 100%;
  background-color: var(--third-color);

  .form-registro-container-form {
    height: 100%;
    width: 60%;
    position: absolute;
    left: 20%;
    margin-top: 20px;
    input {
      border: 0vh;
    }
  }
  .form-registro-container-img {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    img {
      height: 80vh;
    }
  }

  .fund-form-field {
    .seccion-detalle-row {
      display: flex;
      flex-direction: row;
    }
    input {
      margin-left: 5px;
    }

    .icono-seccion-column {
      color: #028596;
      font-size: 25px;
    }
  }
}
