.fund-login {
  height: 100%;
  background-color: var(--third-color);
  .fund-login-container-img {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    img {
      height: 100vh;
    }
  }
  .fund-login-container-form {
    height: 100%;
    width: 60%;
    position: absolute;
    right: 0;
    .fund-login-form {
      width: 50%;
    }
  }
}

@media (max-width: 800px) {
  .fund-login {
    .fund-login-container-form {
      width: 300px;
    }
  }
}
@media (max-width: 480px) {
  .fund-login {
    .fund-login-container-img {
      display: none;
    }
    .fund-login-container-form {
      width: 100%;
      border-radius: 0px;
      .fund-login-form {
        width: 250px;
      }
    }
  }
}
