.fund-don-barra-apadrinando {
  background-color: var(--third-color);
  height: 48px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 100%;
  overflow-x: auto;
  align-items: center;
  padding: 8px 16px 8px 16px;
  padding-bottom: 4px;
  position: sticky;
  top: 64px;
  justify-content: space-between;
  overflow: hidden;
  .fund-apadrinando-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fund-animal-foto {
    height: 32px;
    width: 32px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center center;
  }
}

@media (min-width: 400px) {
  .fund-don-barra-apadrinando {
    height: 56px;
    .fund-animal-foto {
      height: 48px;
      width: 48px;
    }
  }
}
