.fund-admin-barra-lateral {
  padding-top: 132px;
  box-shadow: 1px -3px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--fourth-color);
  width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .fund-admin-barra-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    color: var(--third-color);
    i {
      color: var(--third-color);
    }
    &.selected,
    &.selected i {
      color: var(--primary-color) !important;
    }
  }
}
