.fund-don-manadas-content {
  // margin: 16px;
  // margin-bottom: 64px;
  height: 100vh;
  //padding-top: 50px;

  .infinite-scroll-component {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //background-color: green;
  }

  .fund-manadas-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 15px;
  }

  .fund-editar-manada {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 10px;
  }

  .fund-txt-6 {
    color: var(--primary-color) !important;
  }

  .fund-manada-foto {
    border-radius: 16px;
    width: 105px;
    height: 70px;
    min-height: 80px;
    margin-left: 16px;
    background-color: yellow;
  }

  .fund-manada-icons {
    height: 170px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    border-radius: 16px;
    min-height: 130px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    i {
      color: var(--primary-color) !important;
      font-size: 100px;
    }
  }

  .fund-manada {
    height: 105px;
    width: 300px;
    margin-left: 20px;
    border-radius: 16px;
    .fund-txt-12-green {
      font-size: 16px !important;
      color: #028596;
      font-weight: bold;
      margin-left: 5px;
    }

    .fund-txt-10 {
      margin-left: 5px;
    }

    .fund-ml-16 {
      margin-right: 30px;
      color: black;
      .fund-txt-6 {
        color: black !important;
        margin-left: 5px;
      }
    }

    .fund-flx {
      padding: 0%;
    }

    .fund-animal-foto {
      margin-left: 16px;
      //background-color: pink;
      margin-right: 0px;
      padding-bottom: 20px;
      img {
        border-radius: 16px;
        width: 140px;
        height: 130px;
      }
    }

    .fund-txt-dato {
      font-size: 12px !important;
      font-weight: normal;
      padding-bottom: 5px;
      margin-left: 5px;
    }

    .fund-data-animal {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 12px;
    }

    .fund-data-manada {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 6px;
      //background-color: green;
    }

    .fund-animal-icons {
      display: flex;
      i {
        color: var(--primary-color) !important;
      }
    }
  }
  .manada-row {
    display: flex;
    flex-direction: row;
    //background-color: blue;
    padding: 0px;
  }
  .manada-column {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .fund-txt-datofun {
    font-size: 12px !important;
    font-weight: normal;
    //padding-bottom: 5px;
    margin-left: 5px;
    color: black;
    align-items: center;
  }
  .fund-manada-descripcion {
    margin: 6px 6px 6px 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 89px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 89px;
  }
  .icono-manada {
    font-size: 20px;
    justify-content: center;
    //margin-left: 15px;
    margin-right: 8px;
    align-content: flex-end;
    color: #028596;
  }
}

@media (min-width: 400px) {
  .fund-don-manadas-content {
    .fund-manada {
      height: 172px;

      .fund-animal-foto {
        border-radius: 16px;
        width: 210px;
        height: 140px;
        min-height: 140px;
      }

      .fund-manada-descripcion {
        width: calc(100% - 16px);
        max-width: calc(100% - 16px);
      }
    }
  }
}
