.fund-don-animals-historial {
  //margin: 16px;
  //margin-bottom: 64px;
  align-items: center;
  //background-color: yellow;

  .fund-historial-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .fund-return {
      align-items: baseline;
    }
  }
  .animal-detalle-row {
    display: flex;
    flex-direction: row;
    //background-color: white;
  }

  .detalle-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    //background-color: red;
  }
  .detalle-column {
    display: flex;
    flex-direction: column;
    //background-color: yellow;
  }
  .contenedor-animal-detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width:1800px;
    margin: auto;
    //background-color: blue;
  }
  .seccion-detalle-row {
    display: flex;
    flex-direction: row;
    width: 450px;
    margin-left: 25px;
    background-color: white;
    margin-bottom: 5px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .info-detalle-column {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 450px;
    margin-left: 25px;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  .etiqueta-txt-14 {
    font-size: 16px;
    font-weight: bold;
    //color: red;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .dato-txt-14 {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .etiqueta-column {
    display: flex;
    flex-direction: column;
    width: 200px;
  }
  .dato-column {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  .animal-txt-green {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #028596;
    overflow: hidden;
    text-align: center;
  }
  .fund-animal-foto {
    width: 50%;
    border-radius: 16px;
  }
  .fund-donaciones {
    max-height: 435px;
    overflow: auto;
  }
  .fund-historial-history {
    background-color: var(--third-color);
    width: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-bottom: 16px;
    i {
      z-index: 12;
    }
  }
  .fund-linea-vertical {
    width: 2px;
    background-color: var(--primary-color);
    height: 117px;
    z-index: 10;
    position: fixed;
    left: 35px;
    margin-top: 16px;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
  }
  .icono-seccion {
    font-size: 20px;
    justify-content: center;
    margin-left: 25px;
    align-content: center;
    color: #028596;
  }
  .animal-carousel {
    width: 350px;
    height: 225px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    //background-color: yellow;
  }
  /*
  img{
    width: 100px;
  }*/

  .animal-carousel-element {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;
  }

  .animal-carousel-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fund-mb-16 {
    margin-bottom: 16px;
  }
  .fund-flx {
    display: flex;
  }
  .fund-form-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }
}

@media (min-width: 400px) {
  .fund-don-animals-historial {
    .fund-animal-foto {
      width: 500px;
    }
    .fund-historial-history i {
      z-index: 0 !important;
    }
    .fund-linea-vertical {
      z-index: 0 !important;
    }
  }
}
