.fund-admin-fundaciones {
  padding: 32px;
  padding-top: 132px;
  min-width: calc(100% - 84px);
  .fund-don-dialog-content {
    width: 331px;
  }
  .fund-empty img {
    width: 300px;
  }
  .fund-title {
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .fund-table-content {
    width: 100%;
    overflow-x: auto;
    margin-top: 32px;
    .fund-table {
      display: grid;
      grid-row-gap: 3px;
      min-width: 1200px;
      .fund-table-row-header {
        display: grid;
        background-color: #17a2b8;
        grid-template-columns: 4% 12% 27% 15% 12% 10% 5% 5% 10%;
        cursor: pointer;
        &:hover {
          filter: brightness(102%);
        }
        &:first-child {
          font-weight: bold;
          cursor: auto;
        }
        .fund-table-cell {
          margin: 8px;
          margin-left: 0px;
          padding-left: 8px;
          max-height: 15px;
          border-left: 1px solid var(--fourth-color);
          &:first-child {
            border: none;
          }
        }
      }
      .fund-table-row {
        display: grid;
        background-color: white;
        grid-template-columns: 4% 12% 27% 15% 12% 10% 5% 5% 10%;
        cursor: pointer;
        &:hover {
          filter: brightness(102%);
        }
        &:first-child {
          font-weight: bold;
          cursor: auto;
        }
        .fund-table-cell {
          margin: 8px;
          margin-left: 0px;
          padding-left: 8px;
          max-height: 15px;
          border-left: 1px solid var(--fourth-color);
          &:first-child {
            border: none;
          }
        }
      }
    }
  }
  .fund-btn-guardar {
    width: 100%;
    margin-left: 0px;
  }
}
